<application>
  <component name="kuaishou-kwaipilot">
    <option name="enableCompletions" value="false" />
    <option name="deviceId" value="460a1f2baea344679f7ae2a6d5d78e4d" />
    <option name="authUser" value="{&quot;name&quot;:&quot;yangyang15&quot;,&quot;ticket&quot;:&quot;ST-534483-5G9J4lNCy0nCI73bLeW1MP76ipo-ksssogray&quot;,&quot;mail&quot;:&quot;yangyang15@kuaishou.com&quot;,&quot;displayName&quot;:&quot;杨阳&quot;,&quot;avatar&quot;:&quot;https://static.yximgs.com/udata/pkg/KS-IS-AVATAR-PRODUCTION/33369/F1A86D8240576F2903B9D383C3A3329B&quot;}" />
    <option name="lastFeatureRecoTime" value="1715322825043" />
    <option name="enableTooltip" value="false" />
  </component>
</application>